.wrap {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 4px;
  border-radius: 10px 10px 0 0;
  background: #fff;
  box-shadow: 0 4px 12px -1px rgb(18 22 33 / 8%);
}

.ul {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
