.itemContainer {
  width: 100%;
  height: 30px;
  font-size: 13px;
}
.itemContainer_left {
  width: 60%;
}

.itemContainer_name {
  width: 15%;
}
.itemContainer_time {
  white-space: nowrap;
  width: 25%;
}

.adm-list-item {
  padding-left: 0;
}
