.itemContainer {
  width: 100%;
  height: 30px;
  font-size: 13px;
}
.itemContainer_left {
  width: 49%;
}

.itemContainer_name {
  width: 20%;
  margin-left: 10px;
}
.itemContainer_time {
  width: 20%;
}
